{% extends 'rango/base.html' %}

{% block title_block %}
    Change Your Password
{% endblock %}

{% block body_block%}
<container style="display:flex; justify-content:center; align-items: center; margin-bottom: 20px;">
    <h1 class="row text-uppercase" style="text-align: center;">change your password</h1>
</container>

<form action="." method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="Change Password">
</form>
{% endblock %}

{% block script_block%}
<script>
    document.body.querySelector('#mainNav').classList.add('navbar-shrink')
</script>
{% endblock %}
