{% extends 'rango/base.html' %}

{% block title_block %}
    Password Changed
{% endblock %}

{% block body_block%}
<container style="display:flex; justify-content:center; align-items: center; margin-bottom: 20px;">
    <h1 class="row text-uppercase" style="text-align: center;">Password Changed</h1>
</container>

<p>Your password has been successfully changed!</p>
{% endblock %}

{% block script_block%}
<script>
    document.body.querySelector('#mainNav').classList.add('navbar-shrink')
</script>
{% endblock %}
