{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add an Article
{% endblock %}

{% block body_block%}
    <h1>Add an Article</h1>
    <div>
        <form action="{% url 'rango:add_article' %}" method="post" id="article_form">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            <input type="submit" name="submit" value="Add an Article" />
        </form>
    </div>
{% endblock %}