{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Article
{% endblock %}

{% block body_block%}
<h1>Rango says...</h1>
<div>
    {% if user.is_authenticated %}
        howdy {{ user.username }}!
    {% else %}
        hey there partner!
    {% endif %}
    <br />
    <strong>{{ boldmessage }}</strong><br />
</div>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card mb-6">
                <div class="card-body">
                    <h2>Articles registered</h2>
                    <p class="card-text">
                        {% if articles %}
                        <ul class="list-group">
                            {% for article in articles %}
                            <li class="list-group-item">
                                <h3>Title</h3>
                                {{ article.title }}
                            </li>
                            <li class="list-group-item">
                                <h4>Content</h4>
                                {{ article.content }}
                            {% endfor %}
                        </ul>
                        {% else %}
                            <strong>There are no articles present.</strong>
                        {% endif %}
                    </p>
                </div>
            </div>
            {% if user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'rango:add_article' %}" role="button">Add a New Article</a>
            {% else %}
            {% endif %}
        </div>

{% endblock %}