{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% if category %}
{{ category.name }}
{% else %}
Unknown Category
{% endif %}
{% endblock %}

{% block body_block %}
{% if category %}
<div class="jumbotron p-4">
	<div class="container">
		<h1><center>{{ category.name }}</center></h1>
		<br/>
	
	</div>
</div>
<div id="page-listing">
	{% if products %}
	<center>
		
			{% for product in products %}
			<li><a href="{% url 'rango:show_computer' product.slug %}">{{ product.name }}</a></li>
			<br>
			
			</li>
			{% endfor %}
		</center>
	<div/>
	{% else %}
	<strong>No pages currently in category.</strong>
	{% endif %}
	<a class="btn btn-primary" href="{% url 'rango:add_product' category.slug %}">Add Product</a> <br/>


</div>
<br>


{% else %}
The specified category does not exist.
{% endif %}
{% endblock %}

{% block script_block%}
<script>
    document.body.querySelector('#mainNav').classList.add('navbar-shrink')
</script>
{% endblock %}