{% extends 'rango/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title_block %}
    Edit an Article
{% endblock %}

{% block body_block%}
<div class="row h-100 justify-content-center align-items-center">
	<div class="col-md-6">
        <h1>Edit an Article</h1>
		<div class="card card-body">

			<form action="" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{{form|crispy}}
				
				<button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-danger" href="{% url 'rango:article_show' %}">Cancel</a>
			</form>

		</div>
	</div>
</div>

{% endblock %}

{% block script_block%}
<script>
    document.body.querySelector('#mainNav').classList.add('navbar-shrink')
</script>
{% endblock %}
