 {% extends 'rango/base.html' %}
 {% load staticfiles %}

 {% block title_block %}
 {% if product %}
 {{ computer.product }}
 {% else %}
 Unknown Product
 {% endif %}
 {% endblock %}

 {% block body_block %}
 <div>
            <center><h2>{{ product.name }}</h2></center>
                <br><br><br>
        {% if product %}
            <div class="row">
      <div class="col-6">
        {% if product.picture %}
                <img src="{{ MEDIA_URL }}{{ product.picture }}"
                     width="500"
                     height="500"
                     alt="{{ product.name }} picture" />
                <br />
                {% else %}
                <img src="{% static pathimg %}"
                     width="500"
                     height="500"
                     alt="Picture of Computer" />
                {% endif %}
      </div>
      <div class="col-6">
       <ul>
           <center>
            <strong>Product Name: </strong> {{ product.name }}
                
                <br/>
             Description: <br/>
                {{ product.description }}
                <br/>
             Price:  £ {{ product.price |floatformat:2 }}
                <br/>
           <br/>
           <br/>
           <br/>
           <a class="btn btn-primary btn-xl" id="buy-btn" >Buy from {{product.store}}</a>
           </center>
                
            </ul>
      </div>
    </div>
        {% else %}
            <strong>There is no product under this name.</strong>
        {% endif %}
        </div>
 
 
 <br>
<hr>
 
  <div>
     <h2> Reviews </h2>
     <li><a href="{% url 'rango:review' product.slug %}">Leave a review!</a></li>
     {% if product.reviews.all%}
     {% for review in product.reviews.all %}
     Review by: {{ review.user }}
     <br>
     Review on: {{ review.date }}
     <br>
     Rating: {{ review.rating }} / 10
     <br>
     {{ review.content }}
     <br>
     <hr>
     {% endfor %}
     
     {% endif %}
      {% if product.dummy_reviews.all%}
     {% for review in product.dummy_reviews.all %}
     Review by: {{ review.dummy_user }}
     <br>
     Review on: {{ review.dummy_date }}
     <br>
     Rating: {{ review.dummy_rating }} / 10
     <br>
     {{ review.dummy_content }}
     <br>
     <hr>
     {% endfor %}
     
     {% endif %}
      {% if not product.dummy_reviews.all and not product.reviews.all%}
      No reviews yet
      {% endif %}
 </div>

 

 {% endblock %}