{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
<container style="display:flex; justify-content:center; align-items: center; margin-bottom: 20px;">
    <h1 class="row text-uppercase" style="text-align: center;">user profile zone</h1>
</container>

<div class="row">
    <div class="col-4 col-sm-12 col-md-4 col-lg-4">
        <img src="{{ profile.picture.url }}" alt="Your profile picture" style="height:auto; width:250px;">
    </div>

    <div class="col-6  col-sm-12 col-md-8 col-lg-8 ">
        <label for="uname">Username:</label>
        <input type="text" id="uname" name="uname" value="{{ user.username }}"><br>
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname" value="{{ user.first_name }}"><br>
        <label for="fname">Last name:</label>
        <input type="text" id="lname" name="lname" value="{{ user.last_name }}"><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ user.email }}"><br>

<!--        TODO: modify profile-->
<!--        <form action="{% url 'rango:profile' %}" method="post" id="profile_edit" enctype="multipart/form-data">-->
<!--            {% csrf_token %}-->
<!--            {{ form.as_p }}-->
<!--            <button id="btn" class="btn btn-primary" type="subimt" name='submit'>-->
<!--                Modify Profile <i class="fas fa-arrow-circle-right"></i>-->
<!--            </button>-->
<!--        </form>-->

    </div>
        <p>Your website : {{ profile.website }}</p>
        <p>Creation date of your account : {{ profile.date }}</p>
        <p>Last login : {{ user.last_login }}</p>
</div>


{% endblock %}

{% block script_block%}
<script>
    document.body.querySelector('#mainNav').classList.add('navbar-shrink')
</script>
{% endblock %}
