{% extends 'rango/base.html' %}
{% load staticfiles %}
{% load socialaccount %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
<container style="display:flex; justify-content:center; align-items: center; margin-bottom: 20px;">
    <h1 class="row text-uppercase" style="text-align: center;">user zone</h1>
</container>

<div class="row">
    <div class="col-6 col-md-4 col-lg-6 ">
        <h3>Login</h3>
        <form action="{% url 'rango:login' %}" method="post" id="login_form">
            {% csrf_token %}
            <input type="text" name="username" value="" placeholder="Username">
            <br>
            <br>
            <input type="password" name="password" value="" placeholder="Password">
            <br>
            <br>
            <input class="btn btn-primary" type="submit" value="submit" />
        </form>
        <hr>
        <a class="btn btn-outline-dark" href="{% provider_login_url 'google' %}" role="button" style="text-transform:none">
          <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
          Login with Google
        </a>
    </div>

    <div class="col-6 col-md-8 col-lg-6 ">
        <h3>Register</h3>
        {% if registered %}
            Rango says: <strong>thank you for registering!</strong>
            <a href="{% url 'rango:index' %}">Return to the homepage.</a><br />
        {% else %}
            Get a better laptop, <strong>register here!</strong>
            <form action="{% url 'rango:register' %}" id="user_form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <input class="btn btn-primary" type="submit" name="submit" value="Register" />
            </form>
        {% endif %}
    </div>
</div>


{% endblock %}

{% block script_block%}
<script>
    document.body.querySelector('#mainNav').classList.add('navbar-shrink')
</script>
{% endblock %}
