{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Stores
{% endblock %}

{% block body_block%}
<div>
    {% if user.is_authenticated %}
        howdy {{ user.username }}!
    {% else %}
        hey there partner!
    {% endif %}
    <br />
    <strong>{{ boldmessage }}</strong><br />
</div>

<div class="container">

    <br>
    <div class="card">
        <div class="card-body">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-8">
                <h3 class="text-center">
                    {% csrf_token %}
                    {{ store.name }}
                </h3>
                <br>
                
                <h3 class="row h-100 justify-content-center align-items-center">E-mail: {{ store.email }}</h3>
                <h5 class="row h-100 justify-content-center align-items-center">Rating: {{ store.ratings }}</h5>

            </div>
        </div>

        <br>
        <div class="row h-100 justify-content-center align-items-center">
<br>
<div class="col-md-6">
   <div id="map" style="width:100%;height:400px;background-color:#CCC;"></div>
</div>



<script id="latitude" type="application/json">{{ store.latitude }}</script>
<script id="longitude" type="application/json">{{ store.longitude }}</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type='text/javascript'>
  function initMap() {

    const latitude = JSON.parse(document.getElementById('latitude').textContent);
    const longitude = JSON.parse(document.getElementById('longitude').textContent);

    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: latitude, lng: longitude},
      zoom: 15
    });

    var marker = new google.maps.Marker({
    position: {lat: latitude, lng: longitude},
    });
    marker.setMap(map);
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4lfCLsP3W3-8TwRTVdpp9Gmw43asTWWE&callback=initMap&libraries=&v=weekly" async defer></script>
        </div>




    </div>
    </div>
    <br>
    <a class="btn btn-danger" href="{% url 'rango:store_show' %}">Back</a>
</div>


{% endblock %}

{% block script_block%}
<script>
    document.body.querySelector('#mainNav').classList.add('navbar-shrink')
</script>
{% endblock %}