{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Wishlist
{% endblock %}

{% block body_block%}



<div class="container">
    {% include 'rango/messages.html' %}
    <br>
    <h1>Wishlist</h1>
    <div class="card" id="backdrop">
        <div class="card-body">
            <div class="row">
                {% if wishlist|length == 0 %}
                <p>Please add items in your wishlist.</p>
                {% else %}
                {% for product in wishlist %}
                <div class="col-md-4">
                    <br>
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center">
                             
                            <h3 class="text-center">{{ product.name }}</h3>
                            {{ product.price }}
                            <i class="text-center">{{ product.date }}</i>
                            <br>

                            <a class="btn btn-primary" id="add-to-wishlist" href="{% url 'rango:add_wishlist_view' product.id %}" >
                                Remove from Wishlist <i class="far fa-heart"></i></a>

                        </div>
                        
                        </div>
                    </div>
                    
                </div>

                {% endfor %}
                {% endif %}
            </div>
        </div>
        
    </div>
</div>
<script>
    setTimeout(function(){
      if ($('#msg').length > 0) {
        $('#msg').remove();
      }
    }, 3000)
  </script> 
{% endblock %}

{% block script_block%}
<script>
    document.body.querySelector('#mainNav').classList.add('navbar-shrink')
</script>
{% endblock %}
