#wishlist-icon:hover > #wishlists {
    transform: scale(1);
}

#wishlists {
    background-color: #d5b6f2;
    height: 250px;
    width: 250px;
    border: 2px solid #d5b6f2;
    position: absolute;
    transition: 1s all;
    transform: scale(0);
    transform-origin: top left;
}